.page-gear-add {
  background-color: $bg-color;


  /* ----------------- Up --------------*/
  .gear-input {
    padding: 0 1rem;
    background-color: #fff;

  }

  .input-wrapper {
    display: flex;
    padding: 0.8rem 0;
    align-items: center;
    border-bottom: 1px solid rgba($light-gray, 0.2);

    &:last-child {
      border: none;
    }

    label {
      width: 30vw;
      color: #000;
      font-size: 0.9rem;
    }

    .input {
      flex: 1;
    }

    /* Date Picker Custom Style */
    .data-wrapper {
      flex: 1;

      .am-list-item {
        min-height: initial;
      }
    }

    .input-date {
      width: 100%;
      padding: 0;
      font-size: 0.9rem;

      
      
      .am-list-content {
        font-size: 0.9rem;
        color: rgba($light-gray, 0.8);
      }
      .am-list-line {
        padding: 0;
      }
      .am-list-extra {
        flex: 1;
        font-size: 0.9rem;
        padding: 0;
        color: rgba($light-gray, 0.8);
      }
    }

    input {
      width: 100%;
      font-size: 0.9rem;

      &::placeholder {
        // color: $light-gray;
        font-size: 0.9rem;
      }
    }

  }

  /* ----------------- Up --------------*/

  .gear-memo {
    background-color: #fff;
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
  }

  .memo-input {
    min-height: 40vh;


    h3 {
      text-align: left;
      padding: 0.2rem 0 0.8rem 0;
    }

    .textarea {
      padding: 1rem;
      width: 100%;
      background-color: $bg-color;
      border-radius: 10px;

      textarea{
        width: 100% !important;
        border:none;
        background-color: transparent;
        resize: none;
        line-height: 1.4rem;
        font-size: 1rem;
        &::placeholder {
          color: $light-gray;
        }
      }

      .wordcount {
        text-align: right;
        color: $light-gray;
      }
    }

    


  }

  .confirm {
    background-color: $blue;
    color: #fff;
    width: 100%;
    height: 2.6rem;
    font-size: 1rem;
    font-weight: 1;
    border-radius: 25px;

    &:hover {
      background-color: $blue;
      color: #fff;
    }
  }

}