.page-staff {
  background-color: $bg-color;

  .page-content {
    position: relative;
    padding: 1rem;
  }

  .utils {

    .invite, .add {
      display: flex;
      padding: 0 1rem;
      align-items: center;
      height: 4.5rem;
      border-radius: 10px;
      
    }

    p {
      flex: 1;
      font-size: 0.9rem;
      color: #fff;
    }
    

    .invite {
      background-image: linear-gradient(to right, #4571ff, #5b45ff);
    }

    .add {
      background-image: linear-gradient(to right, #ff4545, #ff4545);
    }

    .qrcode, .addstaff {
      width: 1.6rem;
      height: 1.6rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .qrcode {
      background-image: url('../assets/icon/qr.png');
    }

    .addstaff {
      background-image: url('../assets/icon/addstaff.png');
    }

  }


  .staff-list {
    padding: 0.1rem 0;

    &>div {
      width: 100%;
      min-height: 6rem;
      margin: 0.6rem 0;
      background-color: #fff;
      border-radius: 10px;
      padding: 1rem;
    }

    .user-icon {
      width: 3rem;
      height: 3rem;
    }

    .staff-info{
      display: flex;

      .details {
        padding: 0 1rem;

        .phone {
          font-size: 0.8rem;
        }


        h1 {
          display: flex;
          font-weight: normal;
          font-size: 1rem;

          span {
            display: flex;
            align-items: center;
            font-size: 0.8rem;
            padding: 0 0.5rem;
            color: $light-gray;
          }
        }

        p {
          color: $light-gray;
          font-size: 0.7rem;
          padding: 0.1rem 0;
        }
      }
    }

    .staff-btn {
      padding-top: 1rem;
      text-align: right;

      button {
        font-weight: normal;
        border-radius: 1.5rem;
        height: 1.5rem;
        font-size: 0.6rem;
        margin-left: 0.5rem;
      }
      

      .del {
        border: 1px solid $light-gray;
        color: $light-gray;
      }

      .alt {
        background-color: $blue;
        color: #fff;
      }

    }
  }


}